# Natural Language Processing Assignment

### Student Name : Marco Setiawan
### Student ID : 0134172


===================================================================================

# Import Libraries

In [1]:
from transformers import pipeline, set_seed

import matplotlib.pyplot as plt

import pandas as pd
from datasets import load_dataset, load_metric
from transformers import AutoModelForSeq2SeqLM, AutoTokenizer

import pandas as pd
import numpy as np

import nltk
from nltk.tokenize import sent_tokenize
from keras.layers import Layer

nltk.download("punkt")

[nltk_data] Downloading package punkt to /Users/HP/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

# Import Dataset

In [2]:
# df = pd.read_csv('/Users/HP/Documents/STUDIES/PYTHONCODES/DATASETS/newsMORE/news_summary.csv', encoding='latin-1')
# data_more = pd.read_csv('/Users/HP/Documents/STUDIES/PYTHONCODES/DATASETS/newsMORE/news_summary_more.csv', encoding='latin-1')
# df = pd.concat([df, data_more], axis=0).reset_index(drop=True)

df = pd.read_csv('/Users/HP/Documents/STUDIES/PYTHONCODES/DATASETS/cnn_dailymail/train.csv')
df

,id,article,highlights
0,0001d1afc246a7964130f43ae940af6bc6c57f01,By . Associated Press . PUBLISHED: . 14:11 EST...,"Bishop John Folda, of North Dakota, is taking ..."
1,0002095e55fcbd3a2f366d9bf92a95433dc305ef,(CNN) -- Ralph Mata was an internal affairs li...,Criminal complaint: Cop used his role to help ...
2,00027e965c8264c35cc1bc55556db388da82b07f,A drunk driver who killed a young woman in a h...,"Craig Eccleston-Todd, 27, had drunk at least t..."
3,0002c17436637c4fe1837c935c04de47adb18e9a,(CNN) -- With a breezy sweep of his pen Presid...,Nina dos Santos says Europe must be ready to a...
4,0003ad6ef0c37534f80b55b4235108024b407f0b,Fleetwood are the only team still to have a 10...,Fleetwood top of League One after 2-0 win at S...
...,...,...,...
287108,fffdfb56fdf1a12d364562cc2b9b1d4de7481dee,By . James Rush . Former first daughter Chelse...,Chelsea Clinton said question of running for o...
287109,fffeecb8690b85de8c3faed80adbc7a978f9ae2a,An apologetic Vanilla Ice has given his first ...,"Vanilla Ice, 47 - real name Robert Van Winkle ..."
287110,ffff5231e4c71544bc6c97015cdb16c60e42b3f4,America's most lethal sniper claimed he wished...,America's most lethal sniper made comment in i...
287111,ffff924b14a8d82058b6c1c5368ff1113c1632af,"By . Sara Malm . PUBLISHED: . 12:19 EST, 8 Mar...",A swarm of more than one million has crossed b...
287112,ffffd563a96104f5cf4493cfa701a65f31b06abf,(CNN)Former Florida Gov. Jeb Bush has decided ...,Other 2016 hopefuls maintain that Bush's annou...

In [3]:
df.head()

,id,article,highlights
0,0001d1afc246a7964130f43ae940af6bc6c57f01,By . Associated Press . PUBLISHED: . 14:11 EST...,"Bishop John Folda, of North Dakota, is taking ..."
1,0002095e55fcbd3a2f366d9bf92a95433dc305ef,(CNN) -- Ralph Mata was an internal affairs li...,Criminal complaint: Cop used his role to help ...
2,00027e965c8264c35cc1bc55556db388da82b07f,A drunk driver who killed a young woman in a h...,"Craig Eccleston-Todd, 27, had drunk at least t..."
3,0002c17436637c4fe1837c935c04de47adb18e9a,(CNN) -- With a breezy sweep of his pen Presid...,Nina dos Santos says Europe must be ready to a...
4,0003ad6ef0c37534f80b55b4235108024b407f0b,Fleetwood are the only team still to have a 10...,Fleetwood top of League One after 2-0 win at S...

In [4]:
df.shape

(287113, 3)

In [5]:
print(f"""
Article (excerpt of 500 characters, total length: {len(df["article"][0])}):
""")
print(df["article"][0][:4000])
print(f'\nSummary (length: {len(df["highlights"][0])}):')
print(df["highlights"][0])

Article (excerpt of 500 characters, total length: 1211):

By . Associated Press . PUBLISHED: . 14:11 EST, 25 October 2013 . | . UPDATED: . 15:36 EST, 25 October 2013 . The bishop of the Fargo Catholic Diocese in North Dakota has exposed potentially hundreds of church members in Fargo, Grand Forks and Jamestown to the hepatitis A virus in late September and early October. The state Health Department has issued an advisory of exposure for anyone who attended five churches and took communion. Bishop John Folda (pictured) of the Fargo Catholic Diocese in North Dakota has exposed potentially hundreds of church members in Fargo, Grand Forks and Jamestown to the hepatitis A . State Immunization Program Manager Molly Howell says the risk is low, but officials feel it's important to alert people to the possible exposure. The diocese announced on Monday that Bishop John Folda is taking time off after being diagnosed with hepatitis A. The diocese says he contracted the infection through contaminated food while attending a conference for newly ordained bishops in Italy last month. Symptoms of hepatitis A include fever, tiredness, loss of appetite, nausea and abdominal discomfort. Fargo Catholic Diocese in North Dakota (pictured) is where the bishop is located .

Summary (length: 220):
Bishop John Folda, of North Dakota, is taking time off after being diagnosed .
He contracted the infection through contaminated food in Italy .
Church members in Fargo, Grand Forks and Jamestown could have been exposed .

In [6]:
sample_text = df["article"][0][:1000]

# We'll collect the generated summaries of each model in a dictionary
summaries = {}

In [7]:
def baseline_summary_three_sent(text):
    return "\n".join(sent_tokenize(text)[:3])

In [8]:
summaries['baseline'] = baseline_summary_three_sent(sample_text)

summaries['baseline']

'By .\nAssociated Press .\nPUBLISHED: .'

# Comparing Several Text Summarization Models

# T5

In [9]:
pipe = pipeline('summarization', model='t5-small')

pipe_out= pipe(sample_text)

In [10]:
pipe_out

[{'summary_text': 'bishop of the fargo Catholic Diocese in north Dakota has exposed potentially hundreds of church members to the hepatitis A virus . the state health department has issued an advisory of exposure for anyone who attended five churches and took communion .'}]

In [11]:
summaries['t5'] = 'n'.join(sent_tokenize(pipe_out[0]['summary_text']))

# BART

In [12]:
pipe = pipeline("summarization", model="facebook/bart-large-cnn")
pipe_out = pipe(sample_text)

In [13]:
pipe_out

[{'summary_text': 'Bishop John Folda of the Fargo Catholic Diocese in North Dakota has exposed potentially hundreds of church members in Fargo, Grand Forks and Jamestown to the hepatitis A. The state Health Department has issued an advisory of exposure for anyone who attended five churches and took communion.'}]

In [14]:
summaries["bart"] = "\n".join(sent_tokenize(pipe_out[0]["summary_text"]))

In [15]:
summaries["bart"]

'Bishop John Folda of the Fargo Catholic Diocese in North Dakota has exposed potentially hundreds of church members in Fargo, Grand Forks and Jamestown to the hepatitis A.\nThe state Health Department has issued an advisory of exposure for anyone who attended five churches and took communion.'

# PEGASUS

In [16]:
pipe = pipeline('summarization', model="google/pegasus-cnn_dailymail"  )

pipe_out = pipe(sample_text, max_length=100)

Some weights of PegasusForConditionalGeneration were not initialized from the model checkpoint at google/pegasus-cnn_dailymail and are newly initialized: ['model.decoder.embed_positions.weight', 'model.encoder.embed_positions.weight']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

In [17]:
pipe_out

[{'summary_text': 'The bishop of the Fargo Catholic Diocese in North Dakota has exposed potentially hundreds of church members to the hepatitis A virus .<n>The state Health Department has issued an advisory of exposure for anyone who attended five churches and took communion .<n>The diocese announced on Monday that Bishop John Folda is taking time off after being diagnosed with hepatitis A .'}]

In [18]:
summaries["pegasus"] = pipe_out[0]["summary_text"].replace(" .<n>", ".\n")

# Comparison Between Models

In [19]:
print("GROUND TRUTH")

print(df['article'][0])
print(" ")

for model_name in summaries:
    print(model_name.upper())
    print(' ')
    print(summaries[model_name])
    print("====================================")
    print(' ')

GROUND TRUTH
By . Associated Press . PUBLISHED: . 14:11 EST, 25 October 2013 . | . UPDATED: . 15:36 EST, 25 October 2013 . The bishop of the Fargo Catholic Diocese in North Dakota has exposed potentially hundreds of church members in Fargo, Grand Forks and Jamestown to the hepatitis A virus in late September and early October. The state Health Department has issued an advisory of exposure for anyone who attended five churches and took communion. Bishop John Folda (pictured) of the Fargo Catholic Diocese in North Dakota has exposed potentially hundreds of church members in Fargo, Grand Forks and Jamestown to the hepatitis A . State Immunization Program Manager Molly Howell says the risk is low, but officials feel it's important to alert people to the possible exposure. The diocese announced on Monday that Bishop John Folda is taking time off after being diagnosed with hepatitis A. The diocese says he contracted the infection through contaminated food while attending a conference for newly ordained bishops in Italy last month. Symptoms of hepatitis A include fever, tiredness, loss of appetite, nausea and abdominal discomfort. Fargo Catholic Diocese in North Dakota (pictured) is where the bishop is located .

BASELINE

By .
Associated Press .
PUBLISHED: .
====================================

T5

bishop of the fargo Catholic Diocese in north Dakota has exposed potentially hundreds of church members to the hepatitis A virus .nthe state health department has issued an advisory of exposure for anyone who attended five churches and took communion .
====================================

BART

Bishop John Folda of the Fargo Catholic Diocese in North Dakota has exposed potentially hundreds of church members in Fargo, Grand Forks and Jamestown to the hepatitis A.
The state Health Department has issued an advisory of exposure for anyone who attended five churches and took communion.
====================================

PEGASUS

The bishop of the Fargo Catholic Diocese in North Dakota has exposed potentially hundreds of church members to the hepatitis A virus.
The state Health Department has issued an advisory of exposure for anyone who attended five churches and took communion.
The diocese announced on Monday that Bishop John Folda is taking time off after being diagnosed with hepatitis A .
====================================

In [20]:
from datasets import load_metric

bleu_metric = load_metric("sacrebleu")

/var/folders/7v/krfvgn7d7xg1m339zmy3gh940000gn/T/ipykernel_45312/3278324519.py:3: FutureWarning: load_metric is deprecated and will be removed in the next major version of datasets. Use 'evaluate.load' instead, from the new library ðŸ¤— Evaluate: https://huggingface.co/docs/evaluate
  bleu_metric = load_metric("sacrebleu")

In [24]:
bleu_metric.add(prediction = [summaries["pegasus"]], reference = [df['highlights'][1]])

results = bleu_metric.compute(smooth_method = 'floor', smooth_value = 0 )

results['precision'] = [np.round(p , 2) for p in results['precisions'] ]

pd.DataFrame.from_dict(results, orient = 'index', columns = ['Value'] )

                                         Value
score                                      0.0
counts                            [6, 0, 0, 0]
totals                        [68, 67, 66, 65]
precisions  [8.823529411764707, 0.0, 0.0, 0.0]
bp                                         1.0
sys_len                                     68
ref_len                                     42
precision                [8.82, 0.0, 0.0, 0.0]

In [22]:
rouge_metric = load_metric('rouge')

In [28]:
rouge_names = ["rouge1", "rouge2", "rougeL", "rougeLsum"]

reference = df['highlights'][1]

records = []

for model_name in summaries:
    rouge_metric.add(prediction = summaries[model_name], reference = reference )
    score = rouge_metric.compute()
    rouge_dict = dict((rn, score[rn].mid.fmeasure ) for rn in rouge_names )
    print('rouge_dict ', rouge_dict )
    records.append(rouge_dict)

pd.DataFrame.from_records(records, index = summaries.keys() )

rouge_dict  {'rouge1': 0.0, 'rouge2': 0.0, 'rougeL': 0.0, 'rougeLsum': 0.0}
rouge_dict  {'rouge1': 0.10666666666666666, 'rouge2': 0.0, 'rougeL': 0.05333333333333333, 'rougeLsum': 0.08}
rouge_dict  {'rouge1': 0.09756097560975609, 'rouge2': 0.0, 'rougeL': 0.048780487804878044, 'rougeLsum': 0.07317073170731707}
rouge_dict  {'rouge1': 0.10526315789473685, 'rouge2': 0.0, 'rougeL': 0.0631578947368421, 'rougeLsum': 0.08421052631578947}

            rouge1  rouge2    rougeL  rougeLsum
baseline  0.000000     0.0  0.000000   0.000000
t5        0.106667     0.0  0.053333   0.080000
bart      0.097561     0.0  0.048780   0.073171
pegasus   0.105263     0.0  0.063158   0.084211